<footer class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid">
        <div class="row justify-content-end text-white-50 mb-3 me-2">&copy; CampPark Greece 2024</div>
    </div>
</footer>
